<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="home">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Leads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Meetings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Calls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Project</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="#">Products</a>
          <a class="dropdown-item" href="#">Quotes</a>
           <a class="dropdown-item" href="#">Sales Orders</a>
            <a class="dropdown-item" href="#">Purchase Orders</a>
             <a class="dropdown-item" href="#">Invoices</a>
              <a class="dropdown-item" href="#">SalesInbox</a>
               <a class="dropdown-item" href="#">Feeds</a>
                <a class="dropdown-item" href="#">Campaigns</a>
                 <a class="dropdown-item" href="#">Vendors</a>
                 <a class="dropdown-item" href="#">Price Books</a>
                 <a class="dropdown-item" href="#">Cases</a>
                 <a class="dropdown-item" href="#">Solutions</a>
                 <a class="dropdown-item" href="#">Documents</a>
                 <a class="dropdown-item" href="#">Forecasts</a>
                 <a class="dropdown-item" href="#">Visits</a>
                  <a class="dropdown-item" href="#">Social</a>
                   <a class="dropdown-item" href="#">Create New Module</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>

